Source/Dine/Dine/Web References/com.aqinsights.coke/User_Management.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userparams" type="tns:UserParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tool" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Module" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogUserDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:LogUserData" />
  </wsdl:message>
  <wsdl:message name="LogUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:LogUserDataResponse" />
  </wsdl:message>
  <wsdl:portType name="User_ManagementSoap">
    <wsdl:operation name="LogUserData">
      <wsdl:input message="tns:LogUserDataSoapIn" />
      <wsdl:output message="tns:LogUserDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="User_ManagementSoap" type="tns:User_ManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogUserData">
      <soap:operation soapAction="http://tempuri.org/LogUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="User_ManagementSoap12" type="tns:User_ManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogUserData">
      <soap12:operation soapAction="http://tempuri.org/LogUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User_Management">
    <wsdl:port name="User_ManagementSoap" binding="tns:User_ManagementSoap">
      <soap:address location="https://coke.aqinsights.com/kiusermanagementinternal/User_Management.asmx" />
    </wsdl:port>
    <wsdl:port name="User_ManagementSoap12" binding="tns:User_ManagementSoap12">
      <soap12:address location="https://coke.aqinsights.com/kiusermanagementinternal/User_Management.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>